
<% if @post.errors.any? %>
  <div>
    <h3>It appears that not all of required fields have manifested:</h3>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<%= form_for @post do |f| %>

  <div>
    <%= f.text_field :title, :placeholder => "Post Title", :size => "40" %>
  </div>

  <br>

  <div>
    <%= f.text_area :body, :placeholder => "Add Content Here", :cols => 40, :rows => 15 %>
  </div>

  <br>

  <div>
    <%= f.text_field :published_on, :placeholder => "Publish Date", :size => "24" %>
  </div>

  <br>

  <%= f.submit %>

<% end %>
